---
BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: false
    AfterClass: true
    AfterEnum: false
    AfterStruct: false
    AfterNamespace: false
    BeforeCatch: true
    BeforeElse: true
    BeforeWhile: true
    SplitEmptyFunction: false
ColumnLimit: 100
IndentWidth: '4'
PointerAlignment: Left
SpacesInAngles: true
SpacesInCStyleCastParentheses: true
SpacesInConditionalStatement: true
SpacesInContainerLiterals: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
SpacesInAngles: true
AlwaysBreakTemplateDeclarations: Yes
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AlignTrailingComments: true
FixNamespaceComments: true
SpacesInLineCommentPrefix:
    Minimum: 0
    Maximum: 0
...
